*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #69addb;
}

.input-text{
    margin: 2rem;
    padding: 15px;
    /* line-height: 10em; */
}
.some-paragraph{
    margin: 2rem;
    font-size: 45px;
}

button{
    margin: 2rem;
    padding: 15px;
}